# ==========================
# Server Configuration
# ==========================
PORT=YOUR_PROJECT_PORT_HERE
NODE_ENV=development

# ==========================
# PostgreSQL Database
# ==========================
DB_HOST=your_postgres_host (typically localhost in local machine)
DB_PORT=your_postgres_port (typically 5432)
DB_NAME=your_postgres_db_name
DB_USER=your_postgres_username
DB_PASSWORD=your_postgres_password

# ==========================
# Front-End Info
# ==========================
FRONT_END_URL = YOUR_FRONT_END_URL_HERE

# ==========================
# Payment Gateway Info
# ==========================
SLUG=PAYMENT_METHOD_SLUG_HERE
AUTHORIZATION=YOUR_AUTHORIZATION_KEY_HERE
WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET_HERE